@import '~scss/variables';

$border-width: 5px;
$color-invalid: $brand-success;
$color-valid: $brand-danger;

.clear {
    cursor: pointer;
}

:host[required] {
    display: block;
    &.ng-invalid {
        border-left: $border-width solid $accent-dark;
    }
    &.ng-valid {
        border-left: $border-width solid $brand-success;
    } 
    p-selectButton{
        border-left: none;            
    }
}

fieldset[disabled] {
    :host[required] {
        &.ng-valid {
            border-left: none;
        } 
    }
}

$same-width-si-and-no: 40px;
p-selectButton /deep/ .ui-button-text-only .ui-button-text {
    min-width: $same-width-si-and-no;
}
