# ===================================================================
# Spring Boot configuration for the "env" profile.
#
# This configuration overrides the application.yml file.
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

spring:
    datasource:
        url: jdbc:postgresql://FILL_HOST:FILL_PORT/FILL_DATABASE
        username: FILL_USER
        password: FILL_PASS
    jpa:
        show-sql: false


# ===================================================================
# Application specific properties
# Add your own application properties here.
# ===================================================================

application:
        
# ===================================================================        
# Application debug properties
#
# Uncomment if debug mode needed
# ===================================================================

# debug
