@import '~scss/variables';

:host {
    border-bottom: 2px solid $istac-grey-dark;
    
    padding: 15px 36px;

    margin-top: -$entity-header-height;
    margin-right: -$page-padding;
    margin-bottom: $entity-header-height;
    margin-left: -$page-padding;

    background-color: $white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    h1 {
        margin: 0 !important;
        font-size: 1.5rem;
        font-weight: 500;
        color: $istac-grey-dark;
        @media(min-width: 430px) {
            padding-right: 20px;
        }

        .fa.fa-istac-home {
            vertical-align: bottom;
            width: 23px;
            height: 23px;
        }
    }
}
