<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="#{global.title}"></title>

        <meta name="description" content="" />
        <meta name="google" value="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <link rel="shortcut icon" href="/favicon.ico" />

        <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
        <link th:href="@{/css/roboto.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div th:utext="${@htmlService.getHeaderHtml()}"></div>
        <div class="statistical-operations-external-content header-module">
            <a class="header-link-root" href="/">
                <h1 class="header-module-title">
                    <span class="title-icon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                    <span class="header-title" th:text="#{global.title}"></span>
                </h1>
            </a>
            <div class="header-module-content">
                <th:block layout:fragment="header_page_content"></th:block>
                <div class="dropdown dropdown-language">
                    <button type="button" class="dropwdown-toggle language-flag"></button>
                    <ul class="dropdown-content languages-list">
                        <li class="language-item">
                            <a class="language-flag" data-lang="es" href="?lang=es" th:text="#{language.es}"></a>
                        </li>
                        <li class="language-item">
                            <a class="language-flag" data-lang="en" href="?lang=en" th:text="#{language.en}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="statistical-operations-external-content">
            <th:block layout:fragment="principal_content"></th:block> 
        </div>
        <div th:utext="${@htmlService.getFooterHtml()}"></div>


        <script th:inline="javascript">
            /*<![CDATA[*/
            window.CONFIGURATION = {};
            window.CONFIGURATION.OPERATIONS_API_URL = /*[[${@metadataService.operationsApi}]]*/ 'https://www3.gobiernodecanarias.org/istac/api/operations/v1.0/operations';
            window.CONFIGURATION.DEFAULT_LANG = /*[[${@constants.DEFAULT_LANG}]]*/ 'es';
            window.CONFIGURATION.NAME_ATTRIBUTE_LANG = /*[[${@constants.NAME_ATTRIBUTE_LANG}]]*/ 'lang';
            window.CONFIGURATION.AVAILABLE_LANGS = /*[[${@constants.AVAILABLE_LANGS}]]*/ ['es', 'en'];
            /*]]>*/
        </script>
    
        <script th:src="@{/webjars/jquery/3.4.1/dist/jquery.min.js}"></script>
        <script th:src="@{/webjars/handlebars/4.0.14/handlebars.min.js}"></script>
        <script th:src="@{/js/base.js}"></script>

        <th:block layout:fragment="scripts"></th:block> 
        <noscript>
            <h1 th:text="#{message.jsDisabled}"></h1>
        </noscript>
    </body>
</html>