@import '~scss/variables';

:host {
    max-width: 390px;
    min-width: 240px;
    width: 100%;
    
    @media(max-width: 668px) {
        margin-top: 10px;
    }

    /deep/ .ui-autocomplete .ui-autocomplete-input.ui-inputtext, .ui-autocomplete .ui-autocomplete-multiple-container.ui-inputtext {
        padding-top: 0.2rem;
        padding-right: 0.75rem;
        padding-bottom: 0.2rem !important;
        padding-left: 0.75rem;
    }

    /deep/ button.ui-state-default {
        background: $istac-grey-dark;
        color: $white;

        &:hover {
            border-color: $istac-blue;
            border-left-color: $istac-blue;
            background: $istac-blue;
        }
    }
}