<jhi-title-bar>
    <jhi-territorio-autocomplete [lugarIdentifier]="lugarId" (onTransition)="transition($event)"></jhi-territorio-autocomplete>
</jhi-title-bar>

<div class="section">
    <div class="no-metamac">
        <h1 *ngIf="tipoElecciones && fecha" jhiTranslate="procesoElectoral.header.{{tipoElecciones}}" [translateValues]="{fecha: fecha}"></h1>
    </div>

    <div class="metamac-container" id="metamac-container"><span jhiTranslate="procesoElectoral.loading"></span></div>

    <div class="div-margin"></div>
</div>