<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layouts/base}">

    <head>
        <title th:text="#{operations.title}"></title>
    </head>
    <body>
        <th:block layout:fragment="principal_content">
            <div class="container main-content">
                <section class="search-container">
                    <h1 class="search-container-title title title1" th:text="#{operations.title}"></h1>
                    <th:block th:insert="partials/searcher::searcher"></th:block>
                </section>
            </div>

            <ul class="list-icons">

                <!-- 67A23F ESTADÍSITCAS DEL TERRITORIO Y MEDIOAMBIENTALES-->
                <!-- 010_010  Territorio y usos del suelo --- Territory and land use -->
                <li class="list-icon">
                    <a href="/operations/subject-area/010_010">
                        <img class="list-icon-img" src="/img/iconos/02_TTMM_TerritorioYUsosDelSuelo.svg" alt="">
                        <span class="subject-name" th:text="#{subject.TTMM_TerritorioYUsosDelSuelo}"></span>
                    </a>
                </li>
                <!-- 010_020  Medio ambiente --- Environment -->
                <li class="list-icon">
                    <a href="/operations/subject-area/010_020">
                        <img class="list-icon-img" src="/img/iconos/02_TTMM_MedioAmbiente.svg" alt="">
                        <span class="subject-name" th:text="#{subject.TTMM_MedioAmbiente}"></span>
                    </a>
                </li>



                <!-- 8C5C1D ESTADÍSTICAS DEMOGRÁFICAS-->
                <!-- 020_010  Población --- Population -->
                <li class="list-icon">
                    <a href="/operations/subject-area/020_010">
                        <img class="list-icon-img" src="/img/iconos/02_Demo_Poblacion.svg" alt="">
                        <span class="subject-name" th:text="#{subject.Demo_Poblacion}"></span>
                    </a>
                </li>
                <!-- 020_020  Movimiento natural --- Natural movement -->
                <li class="list-icon">
                    <a href="/operations/subject-area/020_020">
                        <img class="list-icon-img" src="/img/iconos/02_Demo_MovimientoNatural.svg" alt="">
                        <span class="subject-name" th:text="#{subject.Demo_MovimientoNatural}"></span>
                    </a>
                </li>
                <!-- 020_030  Movimientos migratoiros --- Migration -->
                <li class="list-icon">
                    <a href="/operations/subject-area/020_030">
                        <img class="list-icon-img" src="/img/iconos/02_Demo_MovimientosMigratorios.svg" alt="">
                        <span class="subject-name" th:text="#{subject.Demo_MovimientosMigratorios}"></span>
                    </a>
                </li>



                <!-- 7F5B97 ESTADÍSTICAS SOCIALES-->
                <!-- 030_010  Calidad de vida --- Quality of Life -->
                <li class="list-icon">
                    <a href="/operations/subject-area/030_010">
                        <img class="list-icon-img" src="/img/iconos/02_Sociedad_CalidadDeVida.svg" alt="">
                        <span class="subject-name" th:text="#{subject.Sociedad_CalidadDeVida}"></span>
                    </a>
                </li>
                <!-- 030_020  Salud --- Health -->
                <li class="list-icon">
                    <a href="/operations/subject-area/030_020">
                        <img class="list-icon-img" src="/img/iconos/02_Sociedad_Salud.svg" alt="">
                        <span class="subject-name" th:text="#{subject.Sociedad_Salud}"></span>
                    </a>
                </li>
                <!-- 030_030  Educación --- Education -->
                <li class="list-icon">
                    <a href="/operations/subject-area/030_030">
                        <img class="list-icon-img" src="/img/iconos/02_Sociedad_Educacion.svg" alt="">
                        <span class="subject-name" th:text="#{subject.Sociedad_Educacion}"></span>
                    </a>
                </li>
                <!-- 030_040  Cultura, deporte y ocio --- Culture, sport and leisure -->
                <li class="list-icon">
                    <a href="/operations/subject-area/030_040">
                        <img class="list-icon-img" src="/img/iconos/02_Sociedad_Cultura_DeporteYOcio.svg" alt="">
                        <span class="subject-name" th:text="#{subject.Sociedad_Cultura_DeporteYOcio}"></span>
                    </a>
                </li>
                <!-- 030_050  Elecciones y participación ciudadana --- Elections and participation -->
                <li class="list-icon">
                    <a href="/operations/subject-area/030_050">
                        <img class="list-icon-img" src="/img/iconos/02_Sociedad_EleccionesYParticipacionCiudadana.svg" alt="">
                        <span class="subject-name" th:text="#{subject.Sociedad_EleccionesYParticipacionCiudadana}"></span>
                    </a>
                </li>
                <!-- 030_060  Justicia y seguridad --- Justice and security -->
                <li class="list-icon">
                    <a href="/operations/subject-area/030_060">
                        <img class="list-icon-img" src="/img/iconos/02_Sociedad_JusticiaYSeguridad.svg" alt="">
                        <span class="subject-name" th:text="#{subject.Sociedad_JusticiaYSeguridad}"></span>
                    </a>
                </li>
                <!-- 030_070  Protección social --- Social Protection -->
                <li class="list-icon">
                    <a href="/operations/subject-area/030_070">
                        <img class="list-icon-img" src="/img/iconos/02_Sociedad_ProteccionSocial.svg" alt="">
                        <span class="subject-name" th:text="#{subject.Sociedad_ProteccionSocial}"></span>
                    </a>
                </li>
                


                <!-- E5772D ESTADÍSTICAS ECONÓMICAS-->
                <!-- 040_010  Cuentas económicas --- Economic accounts -->
                <li class="list-icon">
                    <a href="/operations/subject-area/040_010">
                        <img class="list-icon-img" src="/img/iconos/02_Economia_CuentasEconomicas.svg" alt="">
                        <span class="subject-name" th:text="#{subject.Economia_CuentasEconomicas}"></span>
                    </a>
                </li>
                <!-- 040_020  Precios, consumo e inversión --- Prices, consumption and investment -->
                <li class="list-icon">
                    <a href="/operations/subject-area/040_020">
                        <img class="list-icon-img" src="/img/iconos/02_Economia_Precios_ConsumoEInversion.svg" alt="">
                        <span class="subject-name" th:text="#{subject.Economia_Precios_ConsumoEInversion}"></span>
                    </a>
                </li>
                <!-- 040_030  Empresas y centros de trabajo --- Companies and workplaces -->
                <li class="list-icon">
                    <a href="/operations/subject-area/040_030">
                        <img class="list-icon-img" src="/img/iconos/02_Economia_EmpresasYCentrosDeTrabajo.svg" alt="">
                        <span class="subject-name" th:text="#{subject.Economia_EmpresasYCentrosDeTrabajo}"></span>
                    </a>
                </li>


                <!-- C01A41 ESTADÍSTICAS LABORALES-->
                <!-- 050_010  Empleo --- Labour Market -->
                <li class="list-icon">
                    <a href="/operations/subject-area/050_010">
                        <img class="list-icon-img" src="/img/iconos/02_Empleo.svg" alt="">
                        <span class="subject-name" th:text="#{subject.Empleo}"></span>
                    </a>
                </li>



                <!-- E5772D ESTADÍSTICAS ECONÓMICAS-->
                <!-- 060_010  Agricultura, ganadería, pesca y caza --- Agriculture, livestock, fishing and hunting -->
                <li class="list-icon">
                    <a href="/operations/subject-area/060_010">
                        <img class="list-icon-img" src="/img/iconos/02_SectorPrimario_Agricultura_Ganaderia_PescaYCaza.svg" alt="">
                        <span class="subject-name" th:text="#{subject.SectorPrimario_Agricultura_Ganaderia_PescaYCaza}"></span>
                    </a>
                </li>



                <!-- E5772D ESTADÍSTICAS ECONÓMICAS-->
                <!-- 070_010  Industria, energía y agua --- Industry, energy and water -->
                <li class="list-icon">
                    <a href="/operations/subject-area/070_010">
                        <img class="list-icon-img" src="/img/iconos/02_SectorSecundario_Industria_EnergiaYAgua.svg" alt="">
                        <span class="subject-name" th:text="#{subject.SectorSecundario_Industria_EnergiaYAgua}"></span>
                    </a>
                </li>
                <!-- 070_020  Construcción y vivienda --- Construction and housing -->
                <li class="list-icon">
                    <a href="/operations/subject-area/070_020">
                        <img class="list-icon-img" src="/img/iconos/02_SectorSecundario_ConstruccionYVivienda.svg" alt="">
                        <span class="subject-name" th:text="#{subject.SectorSecundario_ConstruccionYVivienda}"></span>
                    </a>
                </li>



                <!-- E5772D ESTADÍSTICAS ECONÓMICAS-->
                <!-- 080_010  Comercio --- Trade -->
                <li class="list-icon">
                    <a href="/operations/subject-area/080_010">
                        <img class="list-icon-img" src="/img/iconos/02_SectorServicios_Comercio.svg" alt="">
                        <span class="subject-name" th:text="#{subject.SectorServicios_Comercio}"></span>
                    </a>
                </li>
                <!-- 080_020  Hostelería y turismo --- Hospitality and Tourism -->
                <li class="list-icon">
                    <a href="/operations/subject-area/080_020">
                        <img class="list-icon-img" src="/img/iconos/02_SectorServicios_HosteleriaYTurismo.svg" alt="">
                        <span class="subject-name" th:text="#{subject.SectorServicios_HosteleriaYTurismo}"></span>
                    </a>
                </li>
                <!-- 080_030  Transporte y comunicaciones --- Transport and communications -->
                <li class="list-icon">
                    <a href="/operations/subject-area/080_030">
                        <img class="list-icon-img" src="/img/iconos/02_SectorServicios_TransporteYComunicaciones.svg" alt="">
                        <span class="subject-name" th:text="#{subject.SectorServicios_TransporteYComunicaciones}"></span>
                    </a>
                </li>
                <!-- 080_040  Servicios financieros, monetarios y seguros --- Financial and monetary servicies -->
                <li class="list-icon">
                    <a href="/operations/subject-area/080_040">
                        <img class="list-icon-img" src="/img/iconos/02_SectorServicios_ServiciosFinancieros_MonetariosYSeguros.svg" alt="">
                        <span class="subject-name" th:text="#{subject.SectorServicios_ServiciosFinancieros_MonetariosYSeguros}"></span>
                    </a>
                </li>
                


                <!-- #E5772D ESTADÍSTICAS ECONÓMICAS-->
                <!-- 090_010  Administración pública --- Public administration -->
                <li class="list-icon">
                    <a href="/operations/subject-area/090_010">
                        <img class="list-icon-img" src="/img/iconos/02_AdministracionPublica.svg" alt="">
                        <span class="subject-name" th:text="#{subject.AdministracionPublica}"></span>
                    </a>
                </li>



                <!-- 8C9BA3 INFRAESTRUCTURA ESTADÍSTICA / ESTADÍSTICA DE CIENCIA Y TECNOLOGÍA-->
                <!-- 100_010  Ciencia y tecnología --- Science and technology -->
                <li class="list-icon">
                    <a href="/operations/subject-area/100_010">
                        <img class="list-icon-img" src="/img/iconos/02_CienciaYTecnologia.svg" alt="">
                        <span class="subject-name" th:text="#{subject.CienciaYTecnologia}"></span>
                    </a>
                </li>
            </ul>
        </th:block>

        <th:block layout:fragment="scripts">
            <script th:src="@{/js/searcher.js}"></script>
        </th:block>
    </body>

</html>