<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layouts/base}"
    th:with="headerHtml = ${headerHtml}, footerHtml = ${footerHtml}">
    <head>
        <title th:text="#{title.operation(${@languageUtil.getTranslation(operation.name)})}"></title>
        <meta th:if="${operation.description != null}" name="description" th:attr="content=${@languageUtil.getTranslation(operation.description)}" />
        <meta name="keywords" th:attr="content=${keywords}">
    </head>
    <body>
        <th:block layout:fragment="principal_content">
            <div class="container main-content">
                <h1 class="title title1 main-title">
                    <span th:text="#{operation.title}"></span>
                    <span th:text="${@languageUtil.getTranslation(operation.name)}"></span>
                </h1>
                <table class="table-metadatas text-align-left links">

                    <tr class="metadata-group">
                        <th colspan="2" th:text="#{operationField.group.identifiers}"></th>
                    </tr>
                    <tr>
                        <th th:text="#{operationField.id}"></th>
                        <td th:text="${operation.id}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{operationField.name}"></th>
                        <td th:text="${@languageUtil.getTranslation(operation.name)}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{operationField.urn}"></th>
                        <td class="big-word" th:text="${operation.urn}"></td>
                    </tr>
                    <tr th:if="${operation.acronym != null}"> <!-- Opcional -->
                        <th th:text="#{operationField.acronym}"></th>
                        <td th:text="${@languageUtil.getTranslation(operation.acronym)}"></td>
                    </tr>





                    <tr class="metadata-group">
                        <th colspan="2" th:text="#{operationField.group.contentClassifiers}"></th>
                    </tr>
                    <tr>
                        <th th:text="#{operationField.subjectArea}"></th>
                        <td >
                            <a th:href="@{/operations/subject-area/{nestedId}(nestedId=${operation.subjectArea.nestedId != null? operation.subjectArea.nestedId: operation.subjectArea.id})}" th:text="${@languageUtil.getTranslation(operation.subjectArea.name)}"></a>
                        </td>
                    </tr>
                    <tr th:if="${operation.secondarySubjectAreas != null}"> <!-- Opcional -->
                        <th th:text="#{operationField.secondarySubjectAreas}"></th>
                        <td th:insert="partials/organization-unit::organization_unit(elements=${operation.secondarySubjectAreas.secondarySubjectAreas})">
                        </td>
                    </tr>




                    <tr class="metadata-group">
                        <th colspan="2" th:text="#{operationField.group.contentDescription}"></th>
                    </tr>
                    <tr>
                        <th th:text="#{operationField.objetive}"></th>
                        <td th:utext="${@languageUtil.getTranslation(operation.objective)}"></td>
                    </tr>
                    <tr th:if="${operation.description != null}"> <!-- Opcional -->
                        <th th:text="#{operationField.description}"></th>
                        <td th:utext="${@languageUtil.getTranslation(operation.description)}"></td>
                    </tr>




                    <tr class="metadata-group">
                        <th colspan="2" th:text="#{operationField.group.classDescriptors}"></th>
                    </tr>
                    <tr>
                        <th th:text="#{operationField.statisticalOperationType}"></th>
                        <td th:text="${operation.statisticalOperationType.id}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{operationField.officialityType}"></th>
                        <td th:text="${operation.officialityType.id}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{operationField.indicatorSystem}"></th>
                        <td th:text="${#messages.msg('boolean.' + operation.indicatorSystem)}"></td>
                    </tr>





                    <tr class="metadata-group">
                        <th colspan="2" th:text="#{operationField.group.productionDescriptors}"></th>
                    </tr>
                    <tr>
                        <th th:text="#{operationField.producers}"></th>
                        <td th:insert="partials/organization-unit::organization_unit(elements=${operation.producers.producers})"></td>
                    </tr>
                    <tr>
                        <th th:text="#{operationField.regionalResponsibles}"></th>
                        <td th:insert="partials/organization-unit::organization_unit(elements=${operation.regionalResponsibles.regionalResponsibles})">
                        </td>
                    </tr>
                    <tr th:if="${operation.regionalContributors != null}"> <!-- Opcional -->
                        <th th:text="#{operationField.regionalContributors}"></th>
                        <td th:insert="partials/organization-unit::organization_unit(elements=${operation.regionalContributors.regionalContributors})">
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{operationField.currentlyActive}"></th>
                        <td th:text="${#messages.msg('boolean.' + operation.currentlyActive)}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{operationField.status}"></th>
                        <td th:text="${operation.status}"></td>
                    </tr>






                    <tr class="metadata-group">
                        <th colspan="2" th:text="#{operationField.group.disseminationPublication}"></th>
                    </tr>
                    <tr>
                        <th th:text="#{operationField.publishers}"></th>
                        <td th:insert="partials/organization-unit::organization_unit(elements=${operation.publishers.publishers})">
                        </td>
                    </tr>
                    <tr th:if="${operation.relPolUsAc != null}"> <!-- Opcional -->
                        <th th:text="#{operationField.relPolUsAc}"></th>
                        <td th:utext="${@languageUtil.getTranslation(operation.relPolUsAc)}"></td>
                    </tr>
                    <tr th:if="${operation.releaseCalendar != null}"> <!-- Opcional -->
                        <th th:text="#{operationField.releaseCalendar}"></th>
                        <td th:text="${#messages.msg('boolean.' + operation.releaseCalendar)}"></td>
                    </tr>
                    <tr th:if="${operation.releaseCalendarAccess  != null}"> <!-- Opcional -->
                        <th th:text="#{operationField.releaseCalendarAccess}"></th>
                        <td th:text="${operation.releaseCalendarAccess }"></td>
                    </tr>
                    <tr th:if="${operation.updateFrequencies  != null}"> <!-- Opcional -->
                        <th th:text="#{operationField.updateFrequencies}"></th>
                        <td th:insert="partials/organization-unit::organization_unit(elements=${operation.updateFrequencies.updateFrequencies})">
                        </td>
                    </tr>
                    <tr th:if="${operation.currentInstance != null}"> <!-- Opcional -->
                        <th th:text="#{operationField.currentInstance}"></th>
                        <td th:text="${@languageUtil.getTranslation(operation.currentInstance.name)}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{operationField.inventoryDate}"></th>
                        <td th:text="${#dates.format(operation.inventoryDate,  #messages.msg('global.formatDatetime'))}" ></td>
                    </tr>
                    <tr th:if="${operation.revPolicy != null}"> <!-- Opcional -->
                        <th th:text="#{operationField.revPolicy}"></th>
                        <td th:text="${@languageUtil.getTranslation(operation.revPolicy)}"></td>
                    </tr>
                    <tr th:if="${operation.revPractice != null}"> <!-- Opcional -->
                        <th th:text="#{operationField.revPractice}"></th>
                        <td th:text="${@languageUtil.getTranslation(operation.revPractice)}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{operationField.contact}"></th>
                        <td th:text="${@languageUtil.getTranslation(operation.contact.name)}"></td>
                    </tr>








                    <th:block th:if="${operation.legalActs != null
                                    OR operation.dataSharings != null
                                    OR operation.confidentialityPolicy != null
                                    OR operation.confidentialityDataTreatment != null}">
                        <tr class="metadata-group">
                            <th colspan="2" th:text="#{operationField.group.legalActs}"></th>
                        </tr>
                        <tr th:if="${operation.legalActs != null}"> <!-- Opcional -->
                            <th th:text="#{operationField.legalActs}"></th>
                            <td>
                                <ul>
                                    <li th:each="legalAct: ${operation.legalActs.legalActs}">
                                        <p th:utext="${@languageUtil.getTranslation(legalAct)}"></p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr th:if="${operation.dataSharings != null}"> <!-- Opcional -->
                            <th th:text="#{operationField.dataSharings}"></th>
                            <td>
                                <ul>
                                    <li th:each="dataSharing: ${operation.dataSharings.dataSharings}">
                                        <p th:utext="${@languageUtil.getTranslation(dataSharing)}"></p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr th:if="${operation.confidentialityPolicy != null}"> <!-- Opcional -->
                            <th th:text="#{operationField.confidentialityPolicy}"></th>
                            <td th:utext="${@languageUtil.getTranslation(operation.confidentialityPolicy)}"></td>
                        </tr>
                        <tr th:if="${operation.confidentialityDataTreatment != null}"> <!-- Opcional -->
                            <th th:text="#{operationField.confidentialityDataTreatment}"></th>
                            <td th:utext="${@languageUtil.getTranslation(operation.confidentialityDataTreatment)}"></td>
                        </tr>
                    </th:block>

                    <th:block th:if="${operation.comment != null}">
                        <tr class="metadata-group">
                            <th colspan="2" th:text="#{operationField.group.annotations}"></th>
                        </tr>
                        <tr th:if="${operation.comment != null}"> <!-- Opcional -->
                            <th th:text="#{operationField.comment}"></th>
                            <td th:utext="${@languageUtil.getTranslation(operation.comment)}"></td>
                        </tr>
                    </th:block>

                    <th:block th:unless="${#lists.isEmpty(instances.instances)}">
                        <tr class="metadata-group">
                            <th colspan="2" th:text="#{operationField.group.operationInstances}"></th>
                        </tr>
                        <tr>
                            <th th:text="#{operationField.operationInstances}"></th>
                            <td>
                                <ul class="list">
                                    <li th:each="instance: ${instances.instances}">
                                        <a th:href="@{/operations/{operationId}/instances/{instanceId}(operationId=${operation.id}, instanceId=${instance.id})}" th:text="${@languageUtil.getTranslation(instance.name)}"></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </th:block>

    </body>

</html>