<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layouts/base}">

    <head>
        <title th:text="#{operations.title}"></title>
    </head>
    <body>
        <th:block layout:fragment="principal_content">
            <div class="container main-content">
                <section class="search-container">
                    <h1 class="search-container-title title title1" th:text="#{operations.title}"></h1>
                    <th:block th:insert="partials/searcher::searcher"></th:block>
                </section>
            </div>

            <ul class="list-icons">
                <li class="list-icon" th:each="category: ${@applicationProperties.categoriesSchemes.categories}">
                    <a th:href="@{/operations/subject-area/{nestedId}(nestedId=${category.nestedId})}">
                        <img class="list-icon-img" th:src="@{${'/img/iconos/' + category.iconSrc}}" alt="">
                        <span class="subject-name" th:text="${#messages.msg('subject.' + category.key)}"></span>
                    </a>
                </li>
            </ul>
        </th:block>

        <th:block layout:fragment="scripts">
            <script th:src="@{/js/searcher.js}"></script>
        </th:block>
    </body>

</html>