<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layouts/base}">

    <head>
        <title th:text="#{title.subjectAreaOperations(${category}? ${#messages.msg('subject.' + category.key)} : '')}"></title>
    </head>
    <body>
        <th:block layout:fragment="principal_content">
            <div class="container main-content">
                <h1 class="title title1 main-title">
                    <span th:text="#{subjectAreaOperations.title}"></span>
                    <span th:if="${category != null}" th:text="${#messages.msg('subject.' + category.key)}"></span>
                </h1>
                <ul class="links" th:if="${operations.total > 0}">
                    <li th:each="operation: ${operations.operations}">
                        <a th:href="@{/operations/{operationId}(operationId=${operation.id})}" th:text="${@languageUtil.getTranslation(operation.name)}"></a>
                    </li>
                </ul>
                <span th:if="${operations.total == 0}" th:text="#{message.emptySubjectAreaOperations}"></span>
            </div>
        </th:block>
    </body>

</html>