@import '~scss/variables';

.section {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 1rem;
}

.seleccion-territorio {
    margin-bottom: 2rem;
    text-align: center;
}

.first-loader {
    margin-left: 47%;
    margin-top: 0.7rem;
}

.barra-comandos {
    padding: 15px 5px 20px 5px;
    min-width: 270px;

    .selector-grafica {
        display: inline;
    }

    input:not(:first-child) {
        margin-left: 1rem;
    }

    button {
        float: right;
        margin-top: -0.3rem;
    }
}

.grid-procesos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    padding: 2px;
}

a[href].proceso-electoral {
    &:focus {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;

        table {
            border: 1px solid $istac-blue;
            thead {
                background-color: $istac-blue;
            }
        }
    }
}

a:not([href]).proceso-electoral {
    &:hover {
        cursor: default;
    }
}

a.proceso-electoral {
    margin: 0  auto 2rem;

    table {
        border: 1px solid $color-tablas-evolucion-electoral;
        color: $istac-grey-dark;
    
        thead {
            background-color: $color-tablas-evolucion-electoral;
            color: $white;

            th.clickable-header-icon {
                text-align: right;

                .fa.fa-istac-plus {
                    vertical-align: bottom;
                    width: 19px;
                    height: 19px;
                }
            }
        }
    
        th {
            padding: 0.3rem 1rem;
            font-size: 1.1rem;
        }
    
        td {
            padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        }
    }
}

ngb-tabset {
    /deep/ ul.nav.nav-tabs {
        border: none;
        text-align: center;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 0.5rem;

        a {
            margin-bottom: 0;
            border: none;
            border-radius: unset;
            font-weight: 500;
            font-size: 0.8rem;
            background-color: $color-tabs-tipo-eleccion;
            color: $white;

            &.active {
                background-color: $istac-blue;
            }
        }
    }
}