<jhi-title-bar>
    <jhi-territorio-autocomplete [lugarIdentifier]="lugarId" (onTransition)="transition($event)"></jhi-territorio-autocomplete>
</jhi-title-bar>

<div class="section">

    <h1 *ngIf="lugar" jhiTranslate="evolucionElectoral.header" [translateValues]="{territorio: lugar.nombre}">Historia de la evolución electoral en</h1>

    <div *ngIf="!tiposEleccion || !lugar" class="seleccion-territorio">
        <div class="loader first-loader"></div>
    </div>

    <ngb-tabset *ngIf="tiposEleccion && lugar" [justify]="'center'" [activeId]="tipoEleccionesVisible" (tabChange)="onTabChange($event)">
        <ngb-tab *ngFor="let tipo of tiposEleccion; index as i" id="{{tipo}}">
            <ng-template ngbTabTitle>
                <span jhiTranslate="evolucionElectoral.tipoEleccion.{{tipo}}"></span>
            </ng-template>

            <ng-template ngbTabContent>
                <div class="barra-comandos">
                    <div class="selector-grafica">
                        <input id="votos" type="radio" name="tipoGrafica" [value]="false" [(ngModel)]="tipoGrafica" (change)="onChangeIndicador()">
                        <label for="votos" jhiTranslate="evolucionElectoral.indicador.votos">Votos</label>
                        <input id="participacion" type="radio" name="tipoGrafica" [value]="true" [(ngModel)]="tipoGrafica" (change)="onChangeIndicador()">
                        <label for="participacion" jhiTranslate="evolucionElectoral.indicador.participacion">Participacion</label>
                    </div>

                    <button type="button" class="btn btn-sm btn-secondary" [title]="'evolucionElectoral.descargarPdf' | translate" (click)="descargarPdf($event, tipo)">
                        <i class="fa fa-download"></i>
                        <span jhiTranslate="evolucionElectoral.descargarPdf">Descargar PDF</span>
                    </button>
                </div>

                <ac-chart [data]="hashGraficas[tipo]" [isPercentage]="tipoGrafica"></ac-chart>

                <div class="grid-procesos">
                    <ng-container *ngFor="let proceso of hashProcesos[tipo].slice().reverse()">
                        <a *ngIf="proceso.clickable" [routerLink]="['/proceso-electoral', lugar.id, proceso.id]" class="proceso-electoral">
                            <ng-container *ngTemplateOutlet="tablaProcesoElectoral; context: {proceso: proceso, headerTemplate: clickableHeader}"></ng-container>
                        </a>
                        <a *ngIf="!proceso.clickable" class="proceso-electoral">
                            <ng-container *ngTemplateOutlet="tablaProcesoElectoral; context: {proceso: proceso, headerTemplate: notClickableHeader}"></ng-container>
                        </a>
                    </ng-container>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

</div>

<ng-template #clickableHeader let-proceso="proceso">
    <th colspan="2">
        {{proceso.nombre}}
    </th>
    <th class="clickable-header-icon"><i class="fa fa-istac-plus"></i></th>
</ng-template>

<ng-template #notClickableHeader let-proceso="proceso">
    <th colspan="3">
        {{proceso.nombre}}
    </th>
</ng-template>

<ng-template #tablaProcesoElectoral let-proceso="proceso" let-headerTemplate="headerTemplate">
    <table>
        <thead>
            <tr>
                <ng-container *ngTemplateOutlet="headerTemplate; context: {proceso: proceso}"></ng-container>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    &#45;&nbsp;
                    <span jhiTranslate="evolucionElectoral.indicador.ELECTORES"></span>
                </td>
                <td>{{proceso.indicadores['ELECTORES'] | number:'1.0-0'}}</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&#45;&nbsp;
                    <span jhiTranslate="evolucionElectoral.indicador.ELECTORES_VOTANTES"></span>
                </td>
                <td>{{proceso.indicadores['ELECTORES_VOTANTES'] | number:'1.0-0'}}</td>
                <td>{{proceso.indicadores['TASA_PARTICIPACION'] | number:'1.1-2'}}&#37;</td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&#45;&nbsp;
                    <span jhiTranslate="evolucionElectoral.indicador.ELECTORES_ABSTENIDOS"></span>
                </td>
                <td>{{proceso.indicadores['ELECTORES_ABSTENIDOS'] | number:'1.0-0'}}</td>
                <td>{{proceso.indicadores['TASA_ABSTENCION'] | number:'1.1-2'}}&#37;</td>
            </tr>
            <tr>
                <td>
                    &#45;&nbsp;
                    <span jhiTranslate="evolucionElectoral.indicador.VOTOS"></span>
                </td>
                <td>{{proceso.indicadores['VOTOS'] | number:'1.0-0'}}</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&#45;&nbsp;
                    <span jhiTranslate="evolucionElectoral.indicador.VOTOS_VALIDOS"></span>
                </td>
                <td>{{proceso.indicadores['VOTOS_VALIDOS'] | number:'1.0-0'}}</td>
                <td>{{proceso.indicadores['TASA_VOTOS_VALIDOS'] | number:'1.1-2'}}&#37;</td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#45;&nbsp;
                    <span jhiTranslate="evolucionElectoral.indicador.VOTOS_VALIDOS_CANDIDATURA"></span>
                </td>
                <td>{{proceso.indicadores['VOTOS_VALIDOS_CANDIDATURA'] | number:'1.0-0'}}</td>
                <td>{{proceso.indicadores['TASA_VOTOS_VALIDOS_CANDIDATURA'] | number:'1.1-2'}}&#37;</td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#45;&nbsp;
                    <span jhiTranslate="evolucionElectoral.indicador.VOTOS_VALIDOS_BLANCO"></span>
                </td>
                <td>{{proceso.indicadores['VOTOS_VALIDOS_BLANCO'] | number:'1.0-0'}}</td>
                <td>{{proceso.indicadores['TASA_VOTOS_VALIDOS_BLANCO'] | number:'1.1-2'}}&#37;</td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&#45;&nbsp;
                    <span jhiTranslate="evolucionElectoral.indicador.VOTOS_NULOS"></span>
                </td>
                <td>{{proceso.indicadores['VOTOS_NULOS'] | number:'1.0-0'}}</td>
                <td>{{proceso.indicadores['TASA_VOTOS_NULOS'] | number:'1.1-2'}}&#37;</td>
            </tr>
        </tbody>
    </table>
</ng-template>